<div class="container cardcontain" style="margin: 100px auto;">
    <div class="row">
        <div class="col-10 offset-1">
            <h3 class="htext" style="text-align: center;">Agregar una nueva Novedad</h3>
            <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data" />
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Título" name="titulo">
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="Subtítulo" name="subtitulo"></textarea>
                </div>
                <div class="form-group">
                    <label class="htext">Imagen: <input type="file" name="imagen" id="imagen" /></label>
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="Cuerpo" name="cuerpo"></textarea>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
            {{#if error}}
                <p class="htext">{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>