<div class="container cardcontain" style="margin: 100px auto;">
    <div class="row">
        <div class="col">
            <form action="/admin/login" method="post">
                <div class="card2">
                    <h1 class="card2__title">Login</h1>
                    <div class="card2__form">
                        <input type="text" placeholder="Usuario" id="usuario" aria-describedby="emailHelp"
                            name="usuario">
                        <input type="password" placeholder="Contraseña" id="password" name="password">
                        <button type="submit" class="sign-up">Enviar</button>
                    </div>
                </div>
            </form>
            {{#if error}}
            <p class=htext>Usuario o contraseña incorrecto!</p>
            {{/if}}
        </div>
    </div>
</div>